<nav>
   
      
    <div class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" class="lg-svg" viewBox="0 0 317.38 240.43">
        <defs id="defs394">
          <style id="style392">
            .cls-1 {
              fill: #282828;
            }
          </style>
          <clipPath clipPathUnits="userSpaceOnUse" id="clipPath2090">
            <rect style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.785;stroke-dasharray:none;stroke-opacity:1" id="rect2092" width="170.17731" height="140.50537" x="-1.8840361" y="125.525" rx="12.896648"/>
          </clipPath>
        </defs>
        <g id="g402">
          <g id="g2012" transform="translate(0.13862776,0.14440393)">
            <rect class="cls-1" x="31.250256" y="153.82211" width="242.93042" height="82.326218" rx="40.823177" id="rect396" style="fill: #1e1e1e;fill-opacity:1;stroke: #1e1e1e;stroke-width:0;stroke-dasharray:none;stroke-opacity:1"/>
            <ellipse class="cls-1" cx="66.009254" cy="63.87756" id="circle398" style="fill: #1e1e1e;fill-opacity:1;stroke: #1e1e1e;stroke-width:0;stroke-dasharray:none;stroke-opacity:1" rx="59.111347" ry="59.596581"/>
            <path class="cls-1" d="M 310.1353,13.99194 H 204.16529 a 33.037313,33.308511 0 0 0 -33.03731,33.308511 v 33.327798 a 33.037313,33.308511 0 0 0 33.03731,33.308511 h 51.9759 A 33.037313,33.308511 0 0 0 289.16894,80.628249 V 47.300451 a 33.295566,33.568884 0 0 0 -0.53563,-5.863224 l 12.3579,-7.174734 A 18.976847,19.132625 0 0 0 310.1353,13.99194 Z" id="path400" style="fill: #1e1e1e;fill-opacity:1;stroke: #1e1e1e;stroke-width:0;stroke-dasharray:none;stroke-opacity:1"/>
          </g>
        </g>
      </svg>
  
          

    </div>   {%if request.path == '/'%}
    {%if user == none%}
 
<button class="signin" onclick="window.location.href='/login'">
  Signin
</button>
{%else%}
<button class="signin logout" onclick="window.location.href='/logout'">
  Logout
</button> {%endif%}
    {%endif%}
   
</nav>
